{
    "@context": {
        "xsd": "http://www.w3.org/2001/XMLSchema#",
        "lc": "http://semweb.mmlab.be/ns/linkedconnections#",
        "hydra": "http://www.w3.org/ns/hydra/core#",
        "tiles": "https://w3id.org/tree/terms#",
        "tree": "https://w3id.org/tree/terms#",
        "geosparql": "http://www.opengis.net/ont/geosparql#"
    },
    "@id": "http:/localhost:3000/nmbs-small-tiled-tree/connections/6/32/21",
    "@type": "tree:Node",
    "tiles:zoom": 6,
    "tiles:longitudeTile": 32,
    "tiles:latitudeTile": 21,
    "tree:relation": [
        {
            "@type": "tree:GeospatiallyContainsRelation",
            "tree:node": {
                "@id": "http:/localhost:3000/nmbs-small-tiled-tree/connections/7/65/42"
            },
            "tree:path": [
                "lc:departureStop",
                "geosparql:asWKT"
            ],
            "tree:value": {
                "@type": "tree:Node",
                "geosparql:asWKT": "POLYGON((2.8125 52.48278022207821, 5.625 52.48278022207821, 5.625 50.73645513701065, 2.8125 50.73645513701065))"
            }
        },
        {
            "@type": "tree:GeospatiallyContainsRelation",
            "tree:node": {
                "@id": "http:/localhost:3000/nmbs-small-tiled-tree/connections/7/65/43"
            },
            "tree:path": [
                "lc:departureStop",
                "geosparql:asWKT"
            ],
            "tree:value": {
                "@type": "tree:Node",
                "geosparql:asWKT": "POLYGON((2.8125 50.73645513701065, 5.625 50.73645513701065, 5.625 48.922499263758255, 2.8125 48.922499263758255))"
            }
        }
    ],
    "tree:view": "http:/localhost:3000/nmbs-small-tiled-tree/connections",
    "hydra:search": {
        "@type": "hydra:IriTemplate",
        "hydra:template": "http://localhost:3000/nmbs-small-tiled-tree/connections/{zoom}/{x}/{y}{?departureTime}",
        "hydra:variableRepresentation": "hydra:BasicRepresentation",
        "hydra:mapping": [
            {
                "@type": "IriTemplateMapping",
                "hydra:variable": "departureTime",
                "hydra:required": true,
                "hydra:property": "lc:departureTimeQuery"
            },
            {
                "@type": "hydra:IriTemplateMapping",
                "hydra:variable": "x",
                "hydra:property": "tiles:longitudeTile",
                "hydra:required": true
            },
            {
                "@type": "hydra:IriTemplateMapping",
                "hydra:variable": "y",
                "hydra:property": "tiles:latitudeTile",
                "hydra:required": true
            },
            {
                "@type": "IriTemplateMapping",
                "hydra:variable": "zoom",
                "hydra:required": true,
                "hydra:property": "tiles:zoom"
            }
        ]
    }
}