{
    "@context": {
        "xsd": "http://www.w3.org/2001/XMLSchema#",
        "lc": "http://semweb.mmlab.be/ns/linkedconnections#",
        "hydra": "http://www.w3.org/ns/hydra/core#",
        "tiles": "https://w3id.org/tree/terms#",
        "tree": "https://w3id.org/tree/terms#",
        "hydra:search": {}
    },
    "@id": "http://localhost:3000/nmbs-tiled/connections/11/1056/694",
    "@type": "tree:Node",
    "tiles:zoom": "11",
    "tiles:longitudeTile": "1056",
    "tiles:latitudeTile": "694",
    "tree:relation": [
        {
            "@type": "tree:GeospatiallyContainsRelation",
            "tree:node": {
                "@id": "http://localhost:3000/nmbs-tiled/connections/12/2112/1388"
            },
            "shacl:path": "lc:departureStop",
            "tree:value": {
                "@type": "tree:Node",
                "tiles:zoom": "12",
                "tiles:longitudeTile": "2112",
                "tiles:latitudeTile": "1388"
            }
        },
        {
            "@type": "tree:GeospatiallyContainsRelation",
            "tree:node": {
                "@id": "http://localhost:3000/nmbs-tiled/connections/12/2112/1389"
            },
            "shacl:path": "lc:departureStop",
            "tree:value": {
                "@type": "tree:Node",
                "tiles:zoom": "12",
                "tiles:longitudeTile": "2112",
                "tiles:latitudeTile": "1389"
            }
        },
        {
            "@type": "tree:GeospatiallyContainsRelation",
            "tree:node": {
                "@id": "http://localhost:3000/nmbs-tiled/connections/12/2113/1388"
            },
            "shacl:path": "lc:departureStop",
            "tree:value": {
                "@type": "tree:Node",
                "tiles:zoom": "12",
                "tiles:longitudeTile": "2113",
                "tiles:latitudeTile": "1388"
            }
        },
        {
            "@type": "tree:GeospatiallyContainsRelation",
            "tree:node": {
                "@id": "http://localhost:3000/nmbs-tiled/connections/12/2113/1389"
            },
            "shacl:path": "lc:departureStop",
            "tree:value": {
                "@type": "tree:Node",
                "tiles:zoom": "12",
                "tiles:longitudeTile": "2113",
                "tiles:latitudeTile": "1389"
            }
        }
    ],
    "tree:remainingItems": "6",
    "dcterms:isPartOf": "http://localhost:3000/nmbs-tiled/connections"
}